name: build

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
        - name: Checkout code with submodules
          uses: actions/checkout@v6

        - name: Setup Docker Buildx
          uses: docker/setup-buildx-action@v3

        - name: Use Node.js 20
          uses: actions/setup-node@v6
          with:
              node-version: "20"

        - name: Run custom-build.sh
          run: ./custom-build.sh
          env:
              GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
